<div class="page-header">
    <h1>Examples</h1>
</div>

<div class="row">

    <div class="col-lg-3">
        <h3>Recursive Directive:</h3>
        <hr/>
        <collection collection="data"></collection>
    </div>

    <div class="col-lg-3">
        <h3>Accordion Directive:</h3>
        <hr/>
        <accordion title="accordionTitle">
            Some Content Inside The Accordion Goes Here.
        </accordion>
    </div>

    <div class="col-lg-3">
        <h3>Mini Ng View Directive:</h3>
        <hr/>
        <div mini-ng-view></div>
    </div>

    <div class="col-lg-3">

    </div>

</div>